@model IEnumerable<Cadastro.Models.Pessoa>

@{
    ViewData["Title"] = "Lista de Tarefas";
}

<h1>Pessoas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <ht></ht>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.Telefone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Endereco
                </td>
            </tr>
        }
    </tbody>
</table>
